<nb-layout center>
  <nb-layout-column>
    <nb-layout-header>Subscribe</nb-layout-header>
    <form (ngSubmit)="onSubmit()">
          <nb-card >
        <nb-card-body>
          <nb-form-field>
            <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
            <input
              fullWidth
              type="text"
              [(ngModel)]="email"
              name="email"
              nbInput
              placeholder="Enter Email"
              status="info"
                shape="semi-round"
            />
          </nb-form-field>
        </nb-card-body>
        <button type="submit">Submit</button>
      </nb-card>
    </form>
    <div class="login-link-container">
      <div class="login-link">
        <p>Have an account? <a routerLink="/login">Log in</a></p>
      </div>
    </div>

    <div *ngIf="subscriptionSuccess" class="success-message">
      You have subscribed successfully!
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </nb-layout-column>
</nb-layout>
