<nb-layout-header
  >Welcome to the Dashboard!
  <div class="flex-end">
    <button (click)="logout()" class="logout-btn">Logout</button>
  </div>
</nb-layout-header>
<nb-layout center>
  <nb-layout-column>
      <nb-layout-header>Compose Mail and Schedule It </nb-layout-header>

      <form (ngSubmit)="sendMail()">
        <nb-card size="small">
          <nb-card-body class="example-items-col">
            
              <input  status="primary"
                fullWidth
                type="text"
                [(ngModel)]="subject"
                name="subject"
                nbInput
                placeholder="Enter Subject"
              />
            
            
              <textarea
              status="primary"
                nbInput
                name="body"
                [(ngModel)]="body"
                fullWidth
                placeholder="Body"
              ></textarea>
            
            
              <input
              status="primary"
                fullWidth
                nbInput
                [(ngModel)]="time"
                type="text"
                [nbTimepicker]="timepicker"
                name="time"
                singleColumn
                [step]="1"
              />
              <nb-timepicker #timepicker></nb-timepicker>
            
          </nb-card-body>
          <button class="btn btn-primary" type="submit">Schedule Mail</button>
        </nb-card>
      </form>
    <div *ngIf="subscriptionSuccess" class="success-message">
      {{ message }}
    </div>
  </nb-layout-column>
  
</nb-layout>


