<nb-alert *ngIf="showAlert" status="success" closable (close)="onClose()">
  You have been successfully authenticated!
</nb-alert>
<nb-layout>
  <nb-layout-header>
    <button (click)="logout()" class="logout-btn">Logout</button>
  </nb-layout-header>
  <nb-layout-column>
    <nb-layout-header
      >Compose Mail and Schedule It to subscribers</nb-layout-header
    >

    <form (ngSubmit)="sendMail()">
      <nb-card size="small">
        <nb-card-body class="example-items-col">
          <div class="padding">
            <nb-form-field>
              <input
                status="info"
                shape="semi-round"
                fullWidth
                type="text"
                [(ngModel)]="subject"
                name="subject"
                nbInput
                placeholder="Enter Subject"
              />
            </nb-form-field>
          </div>

          <div class="padding">
            <nb-form-field>
              <textarea
                status="info"
                shape="semi-round"
                fieldSize="giant"
                nbInput
                name="body"
                [(ngModel)]="body"
                fullWidth
                placeholder="Body"
              ></textarea>
            </nb-form-field>
          </div>
          <div class="padding">
            <nb-form-field>
              <input
                status="info"
                shape="semi-round"
                fullWidth
                nbInput
                [(ngModel)]="time"
                type="time"
                [nbTimepicker]="timepicker"
                name="time"
                singleColumn
              />
              <nb-timepicker #timepicker></nb-timepicker>
            </nb-form-field>
          </div>
        </nb-card-body>
        <button class="btn btn-primary" type="submit">Schedule Mail</button>
      </nb-card>
    </form>
    <div *ngIf="subscriptionSuccess" class="success-message">
      {{ message }}
    </div>
  </nb-layout-column>
  <nb-layout-column>
    <nb-layout-header>Mail Analytics</nb-layout-header>
    <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table
  ></nb-layout-column>
</nb-layout>
