<nb-layout center>
  <nb-layout-column>
    <div>
      <nb-layout-header>Login</nb-layout-header>

      <form (ngSubmit)="onSubmit()">
        <nb-card>
          <nb-card-body>
            <div class="padding">
              <nb-form-field>
                <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
                <input
                  status="info"
                  shape="semi-round"
                  fullWidth
                  type="text"
                  [(ngModel)]="email"
                  name="email"
                  nbInput
                  placeholder="Enter Email"
                />
              </nb-form-field>
            </div>
            <div class="padding">
              <nb-form-field>
                <input
                  type="text"
                  status="info"
                  shape="semi-round"
                  nbInput
                  fullWidth
                  placeholder="Enter password"
                  [(ngModel)]="password"
                  name="password"
                />
              </nb-form-field>
            </div>
          </nb-card-body>
          <button class="submit-button" type="submit">Login</button>
        </nb-card>
      </form>
    </div>
    <div class="login-link-container">
      <div class="login-link">
        <div *ngIf="isSignedUp">
          <p>
            {{ message }}
            Click <a routerLink="/signup">here</a> to sign up if you haven't.
          </p>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

